---
import About from '@/components/sections/About.astro'
import Contact from '@/components/sections/Contact.astro'
import Hero from '@/components/sections/Hero.astro'
import Projects from '@/components/sections/Projects.astro'
import Skills from '@/components/sections/Skills.astro'
import Layout from '@/layouts/Layout.astro'
import '@/styles/global.css'
import { setSelectedLanguage } from '@/locales/i18n'

setSelectedLanguage('en');
---

<Layout title="Portfolio of Dante - Full-stack Developer" lang='en'>
  <main>
    <Hero />
    <Projects />
    <Skills />
    <About />
    <Contact />
  </main>
</Layout>