---
export interface Props {
  name: string;
  icon: string;
}

const { name, icon } = Astro.props;
---

<div class="group">
  <div
    class={`p-6 rounded-xl border flex flex-col items-center justify-center gap-3 transition-all duration-300 h-full`}
  >
    <div
      class={`w-12 h-12 flex items-center justify-center group-hover:scale-110 transition-transform duration-300`}
    >
      <svg width="48" height="48">
        <image href={icon} width="48" height="48"/>
      </svg>
    </div>
    <span
      class={`font-medium text-white transition-colors`}
    >{name}</span>
  </div>
</div>