---
import Layout from "@/layouts/Layout.astro";
import '@/styles/global.css'
---

<Layout title="Redireccionando..." lang="es">
  <div class="loading-container">
    <p>Cargando...</p>
  </div>

  <script>
    import {
      acceptedLanguages,
      defaultLanguage,
      handleLanguageChange,
      type Language,
    } from "@/locales/i18n";

    function detectLanguage() {
      const userLang = navigator.language?.split("-")[0];
      const lang =
        userLang && acceptedLanguages.includes(userLang as Language)
          ? userLang
          : defaultLanguage;
      handleLanguageChange(lang as Language);
    }

    detectLanguage();
  </script>

  <style>
    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 144px);
      font-family: system-ui, sans-serif;
    }
  </style>
</Layout>
