---
import { socialLinks } from "@/data/social";
import { selectedLanguage, useTranslations } from "@/locales/i18n";

const t = useTranslations(selectedLanguage);
---

<footer>
  <div class="container mx-auto h-16 px-4 flex justify-between items-center">
    <p class="text-gray-400">
      {t("footer.based-on")}
      <a
        href="https://github.com/Vengxdor/Vengxdor"
        class="hover:underline hover:text-primary"
        ><strong>{t("footer.original-owner")}</strong>
      </a>
    </p>
    <div class="flex space-x-4 text-2xl">
      {
        socialLinks.map(({ platform, icon: Icon, href, hoverClass }) => (
          <a
            target="_blank"
            class={`opacity-60 transition duration-300 ${hoverClass}`}
            href={href}
          >
            <span class="sr-only">{platform}</span>
            <Icon />
          </a>
        ))
      }
    </div>
  </div>
</footer>
