---
import LanguageSwitcher from "@/components/ui/language-switcher.astro";
import { buttonVariants } from "../components/ui/button";
import { selectedLanguage, useTranslations } from "@/locales/i18n";

const t = useTranslations(selectedLanguage);

const navItems = [
  {
    title: t("nav.home"),
    link: "#home",
  },
  {
    title: t("nav.projects"),
    link: "#projects",
  },
  {
    title: t("nav.skills"),
    link: "#skills",
  },
  {
    title: t("nav.about"),
    link: "#about",
  },
  {
    title: t("nav.contact"),
    link: "#contact",
  },
];
---

<header class="h-20 bg-background sticky top-0 z-50 shadow-lg">
  <div
    class="h-full flex justify-between items-center transition-colors duration-200 mx-auto w-11/12 md:w-10/12 lg:max-w-[1000px]"
  >
    <a
      href="/"
      class="text-2xl font-bold text-accent hover:text-primary transition-colors"
    >
      Dante Vilchez
    </a>
    <nav class="hidden md:flex items-center gap-8">
      {
        navItems.map((item) => (
          <a
            href={item.link}
            class="text-white/80 hover:text-white transition-colors"
          >
            {item.title}
          </a>
        ))
      }
    </nav>
    <div class="flex items-center gap-4">
      <LanguageSwitcher />
      <a
        href="/cv.pdf"
        target="_blank"
        class={`${buttonVariants({ variant: "outline" })} hidden md:flex text-accent !bg-secondary/10 !border-accent`}
      >
        {t("nav.resume")}
      </a>
    </div>
  </div>
</header>
