---
import { BackgroundBeamsWithCollision } from '@/components/backgrounds/background-beams-with-collision';
import Footer from './Footer.astro';
import Header from './Header.astro';

interface Props {
	title: string;
	lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html class='dark' lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I'm Dante Vilchez. I develop end-to-end web solutions.">
		<meta name="keywords" content="Full-stack Developer, Web Design, React, Angular, Tailwind CSS, Spring Boot, Express, Postgres">
		<meta name="author" content="Dante Vilchez">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" type="image/x-icon">
		<meta property="og:title" content="Dante Vilchez | Full Stack Developer">
		<meta property="og:description" content="Check out my web development projects and technical skills.">
		<meta property="og:image" content="http://localhost:4321/author.webp">
		<meta property="og:url" content="http://localhost:4321">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Dante Vilchez | Full Stack Developer">
		<meta name="twitter:description" content="Check out my portfolio and projects.">
		<meta name="twitter:image" content="http://localhost:4321/author.webp">
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div class='mx-auto w-11/12 md:w-10/12 lg:max-w-[1000px]' >
			<BackgroundBeamsWithCollision className='fixed inset-0 -z-10 bg-background' client:load/>
			<slot />
			<Footer />
		</div>
		<!-- <Analytics /> -->
	</body>
</html>
