---
const { currentLang } = Astro.props;

// Determinar las URLs para cada idioma
// let esUrl = '/es/';
// let enUrl = '/en/';

// Si estamos en una sección específica con ancla, preservarla
// const hash = Astro.url.hash;
// if (hash) {
//   esUrl += hash;
//   enUrl += hash;
// }

const activeClass = "bg-accent text-white";
const inactiveClass = "text-white/60 hover:text-white";

---

<div class="flex gap-2 items-center">
  <button id="es-button" class={`text-sm px-2 py-1 rounded ${currentLang === 'es' ? activeClass : inactiveClass}`}>ES</button>
  <span>/</span>
  <button id="en-button" class={`text-sm px-2 py-1 rounded ${currentLang === 'en' ? activeClass : inactiveClass}`}>EN</button>
</div>

<script>
  import { handleLanguageChange } from '@/locales/i18n';
  const esButton = document.getElementById('es-button');
  const enButton = document.getElementById('en-button');

  if (esButton) {
    esButton.onclick = () => {
      handleLanguageChange('es');
    }
  }

  if (enButton) {
    enButton.onclick = () => {
      handleLanguageChange('en');
    }
  }
</script>

